.companies-section {
    padding-block-end: 90px;
    max-width: 1440px;
    margin: auto;

    .title-container {
        padding: 0 32px;
        margin-block-end: 24px;

        h2 {
            color: #333;
            font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
            font-size: rem(22px);
            font-weight: 400;
            line-height: rem(32px);
            text-align: center;
            word-break: break-word;
        }
    }

    .logos-container {
        margin: auto;
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        width: 100%;

        .logo {
            width: 150px;
            padding: 24px 0;
            display: flex;
            justify-content: center;

            .logo-img {
                max-height: 69px;
                max-width: 118px;
            }
        }
    }
}

@media (max-width: 600px) {
    .companies-section {
        margin: rem(64px) 0;
        width: 100vw;
        padding: 0;

        .logo {
            height: 100%;
        }
    }
}