.priority {

    &>* {
        color: white;
    }

    &.critical {
        background-color: rgb(51, 51, 51);
    }

    &.high {
        background-color: rgb(85, 89, 223);
    }

    &.medium {
        background-color: rgb(85, 89, 223);
    }
}