.group-list {
    white-space: nowrap;
    // margin-block-start: rem(16px);
    background-color: $primary-background-color;

    .add-group-container {
        margin-block-end: rem(90px);

        .new-group-btn {
            padding-inline: rem(8px);
            height: rem(32px);

            .add-icon {
                margin-inline-end: rem(8px);
                width: rem(20px);
                height: rem(20px);
            }
        }
    }
}

@media (max-width: 600px) {
    .group-list {
        margin-block-start: rem(160px);
    }
}