//Background colors
$default-task-val-bgc: #c4c4c4;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f5f5;
$primary-background-hover-color: #dcdfec;
$inverted-color-background: #323338;
$grey-background-color: #eceff8;
$allgrey-background-color: #f6f7fb;
$member-background-color: #e5f4ff;
$card-background-color: #6c6cff;
$avatar-btn-background-color: #f6f7fc;
$icon-warning-color : #e0394e;
$icon-check-color : #00854d;

//Text colors
$primary-text-color: #323338;
$secondary-text-color: #6b6c7e;
$secondary-text-on-secondary-color: #ffffff;
$text-color-on-inverted: #ffffff;
$text-color-on-primary: #ffffff;
$disabled-text-color: #b3b3b3;
$placeholder-color: #b3b3b3;
$link-color: #6b6c7e;
$a-color: #535768;
$a-secondary-color: #1f76c2;
$date-color : #666666;

//Border colors
$members-border: #f5f6f8;
$table-border: #d0d4e4;
$border-color: #dcdfec;
$border-color-hover: #d1d1d1;
$border-color-selected: #6b6c7e;
$border-color-selected-hover: #6b6c7e;
$selectable-cluster-border: #c3c6d4;

//Shadow
$table-shadow-color: #0000001a;
$modal-shadow-color: #00000052;

//Icon colors
$chat-icon-color: #676879;
$icon-color-hover: #dcdcdc;

//Semantic colors
$primary-color: #0073ea;
$primary-hover-color: #0060c0;
$primary-selected-color: #cce5ff;
$primary-selected-hover-color: #b3d1ff;
$positive-color: #00c875;
$positive-color-hover: #00b36b;
$positive-color-selected: #c9f7e9;
$positive-color-selected-hover: #b3f0df;
$negative-color: #ff4d4d;
$negative-color-hover: #ff3333;
$negative-color-selected: #ffd6d6;
$negative-color-selected-hover: #ffc2c2;
$warning-color: #ffc82c;
$warning-color-hover: #ffb31a;
$warning-color-selected: #fff2cc;
$warning-color-selected-hover: #ffe5b3;
$private-color: #f65e7c;
$shareable-color: #a25ddc;
$inverted-color-background: #323338;
$icon-color: #6b6c7e;
$icon-secondary-color: #676879;
$button-purple: #6161FF;

//content colors
$grass_green: #00c875;
$dark_grass_green: #00b36b;
$light_grass_green: #c9f7e9;
$lighter_grass_green: #b3f0df;
$light_blue_special: #579bfc;
$red: #ff4d4d;
$dark_red: #ff3333;
$darker_red: #e2445b;
$light_red: #ffd6d6;
$lighter_red: #ffc2c2;
$yellow: #ffc82c;
$dark_yellow: #ffb31a;
$light_yellow: #fff2cc;
$lighter_yellow: #ffe5b3;
$purple: #f65e7c;
$dark_purple: #a25ddc;
$light_purple: #f5f5f5;
$lighter_purple: #f5f5f5;
$blue: #0073ea;
$dark_dark_blue: #0286c3;
$darker_blue: #0060c0;
$light_blue: #cce5ff;
$lighter_blue: #b3d1ff;
$grey: #6b6c7e;
$dark_grey: #323338;
$light_grey: #dcdfec;
$lighter_grey: #f6f7fb;
$white: #ffffff;
$black: #000000;

// Breakpoints
$mobile-breakpoint: 560px;